<% if session[:name] %>
  <h1>Hi, <%= session[:name] %>.</h1>
  <%= form_tag ({ controller: "sessions", action: "destroy", method: "post" }) do %>
    <input type=submit value='logout'>
  <% end %>
<% else %>
  <%= form_tag ({ controller: "sessions", action: "new", method: "get" }) do %>
   <%= submit_tag "login" %>
  <% end %>
<% end %>
